.gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    counter-increment: gallery-cell;
}

.gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    color: white;
    font-family: Dela Gothic One;
    text-transform: uppercase;
}

.c1:before {
    content: "\"Power Up Your Gains\"";
}

.c2:before {
    content: "\"Stronger Every Set\"";
}

.c3:before {
    content: "\"Conquer the Barbell\"";
}

.c4:before {
    content: "\"Lift Heavy, Lift Smart\"";
}

.c5:before {
    content: "\"Equip for Power\"";
}