.gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    counter-increment: gallery-cell;
}

.gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    color: white;
    font-family: Dela Gothic One;
    text-transform: uppercase;
}

.c1:before {
    content: "\"Fashion finds for every mood and moment.\"";
}

.c2:before {
    content: "\"Style that fits your life, and your budget.\"";
}

.c3:before {
    content: "\"Revamp your wardrobe, revitalize your style.\"";
}

.c4:before {
    content: "\"Discover the art of dressing well\"";
}

.c5:before {
    content: "\"Upgrade your closet with our must-have pieces.\"";
}